@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@700&family=Manrope:wght@400;500;700&display=swap');
@import-normalize;

:root {
  --light-title: #e2e8f0;
  --text: #94a3b8;
  --dark-text: rgb(15, 23, 42);

  --accent-text: #5eead4;
  --button-bg: #2dd4bf1a;

  --transition: 250ms linear;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.375;

  color: var(--dark-text);
  background-color: #f7fdfb;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

section {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  overflow: hidden;
}
